// Colors

$basic-white: #ffffff;
$basic-black: #000000;
$special-black: #111111;
$radio-black: #222222;
$heavy-grey: #444444;
$social-black: #666666;
$background-grey: #f2f2f2;
$decor-grey: #d3d3d3;
$frame-grey: #cdcdcd;
$special-grey: #bababa;
$border-grey: #d9d9d9;
$nav-border-grey: #e6e6e6;
$catalog-border-grey: #ebebeb;
$input-grey: #e7e7e7;
$slider-background-grey: #eaeaea;
$basic-green: #68b738;
$dark-green: #5eaa2f;
$bg-green: #62a53a;
$bg-green-desktop: #64a73c;
$invalid: #ff8282;

// Viewports

$mobile-width-only: 767px;
$tablet-width: 768px;
$tablet-width-max: 1439px;
$desktop-width: 1440px;
